div.game {
	border: 1px solid #aaa;
	border-radius: 6px;
	display: inline-block;
	height: 100px;
	margin-top: 0.5em;
	margin-right: 0.2em;
	padding: 1em;
	width: 200px;
}

div.game div.at,
div.game div.teams {
	display: inline-block;
}

div.game div.at {
	font-size: 0.8em;
	margin-right: 0.3em;
}

div.game.not-started {
	background-color: lightgray;
}

div.game.started.picked {
	border: 1px solid black;
}
