div.game {
	border: 1px solid #aaa;
	border-radius: 6px;
	display: inline-block;
	margin-top: 0.5em;
	margin-right: 0.2em;
	padding: 1em;
	width: 200px;
}

div.game div.at,
div.game div.teams,
div.game div.scores {
	display: inline-block;
}

div.game div.at {
	font-size: 0.8em;
	margin-right: 0.3em;
}

div.game div.teams span.team.pick {
	font-weight: bold;
}

div.game div.teams span.line {
	font-size: 70%;
}

div.game div.scores {
	margin-left: 2em;
	text-align: right;
}

div.game.not-started {
	background-color: lightgray;
}

div.game.picked {
	border: 1px solid black;
}

div.game.final.lost {
	background-color: #ffd0d0;
}

div.game.final.pushed {
	background-color: #f3f3f3;
}

div.game.final.won {
	background-color: #d0ffd0;
}
