div.game {
	border: 1px solid #666;
	border-radius: 6px;
	display: inline-block;
	height: 200px;
	letter-spacing: 0px;
	margin-top: 0.5em;
	margin-right: 0.2em;
	vertical-align: bottom;
	width: 300px;
}

div.game div.teams {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

div.game div.teams div.team,
div.game div.scores div.score {
	font-size: 160%;
}

div.game div.scores div.score {
	padding: 0.1em 0.5em 0.1em 0;
}

div.game div.teams div.team {
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size: 10%;
	padding: 0.1em 0 0.1em 2em;
}

div.game div.kickoff,
div.game div.status,
div.game div.final {
	padding: 0.5em;
	text-align: center;
}

div.game div.teams div.team.pick {
	font-weight: bold;
}

div.game div.teams span.line {
	color: #666;
	font-size: 70%;
}

div.game.not-started {
}

div.game.not-started.not-picked a.picked,
div.game.not-started.picked.away-team div.home-team a.picked,
div.game.not-started.picked.away-team div.away-team a.not-picked,
div.game.not-started.picked.home-team div.away-team a.picked,
div.game.not-started.picked.home-team div.home-team a.not-picked {
	display: none;
}

div.game.not-started.picked.away-team div.away-team a.picked,
div.game.not-started.picked.home-team div.home-team a.picked {
	font-weight: bold;
}

div.game.picked {
	background-color: #D4ECFC;
	border: 1px solid black;
}

div.game.final.lost {
	background-color: #ffd0d0;
	border-color: red;
}

div.game.final.pushed {
	background-color: #f3f3f3;
	border-color: #666;
}

div.game.final.won {
	background-color: #d0ffd0;
	border-color: green;
}

div.game.final div.scores {
	float: right;
	text-align: right;
}

div.game table.picks {
	margin: 1em auto 0;
	width: 100%;
}

div.game table.picks th,
div.game table.picks td {
	font-size: 80%;
	padding-bottom: 0.2em;
	word-spacing: 2px;
}

div.game table.picks th {
	font-weight: bold;
	padding-right: 0.5em;
	text-align: right;
	width: 3.6em;
}

div.game table.picks tr.home-picks th,
div.game table.picks tr.home-picks td {
	padding-top: 0.5em;
}

div.game table.picks th.winner {
	color: #417A25;
}

div.game table.picks th.loser {
	color: #ab0000;
}

div.game table.picks th.push {
	color: #999;
}
