div#week-navigation {
	font-size: 80%;
	white-space: nowrap;
}

div#week-navigation a.week,
div#week-navigation span.week {
	vertical-align: middle;
}

div#week-navigation a.week {
	margin: 0 0.5em;
}

div#week-navigation a.week-1 {
	margin-left: 0;
}

div#week-navigation a.week-17 {
	margin-right: 0;
}

div#week-navigation span.current.week {
	font-size: 250%;
	font-weight: bold;
}
